p{
    margin-bottom: 0 !important;
}

/*---------------------------------
Content Styles 
----------------------------------*/

.content {
    height: 60vh;
    background-image: url("./Images/highlight.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.content p{
    color: white;
}

.content p:nth-of-type(1){
    padding-top: 5em;
}

.content p:nth-of-type(1){
    font-weight: 100;
    font-size: .9em;
}

.content p:nth-of-type(2){
    font-weight: bold;
    font-size: 1.5em;
}

.content p:nth-of-type(3), p:nth-of-type(4){
    font-weight: 600;
    font-size: 1.1em;
}

/*---------------------------------
Card Styles 
----------------------------------*/

.card{
    border: none !important;
    box-shadow: 0px 1px 18px 8px #00000014;
}

.button{
    background-color: white !important;
    border: none !important;
    color: #00737a !important;
    font-weight: 600 !important;
}

/*---------------------------------
Modal Styles
----------------------------------*/

#modal{
    border: none !important;
    border-radius: 28px !important;
    width: 1000px;
    height: 500px;
    top: 20% !important;
    left: 20% !important;
}

#modal .row{
    margin: 2em;
}

#modal p{
    margin-top: 1em;
}

#modal button{
    margin-top: 2em;
    width: 100px;
    background: #00737A;
    color: white;
    border-radius: 10px;
}
